<app-header></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="agendarForm" (ngSubmit)="reservar()" class="formulario">

    <div class="campo">
      <ion-label position="stacked">Nombre de la mascota</ion-label>
      <ion-input type="text" formControlName="nombreMascota" placeholder="Ej: Firulais"></ion-input>
    </div>

    <div class="campo">
      <ion-label position="stacked">Edad de la mascota (años)</ion-label>
      <ion-input type="number" formControlName="edadMascota" placeholder="Ej: 3"></ion-input>
    </div>

    <div class="campo">
      <ion-label position="stacked">Tamaño</ion-label>
      <ion-select formControlName="tamanoMascota" placeholder="Selecciona un tamaño" interface="popover">
        <ion-select-option value="pequeno">Pequeña</ion-select-option>
        <ion-select-option value="mediano">Mediano</ion-select-option>
        <ion-select-option value="grande">Grande</ion-select-option>
      </ion-select>
    </div>

    <div class="campo">
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime formControlName="fecha" presentation="date" display-format="DD/MM/YYYY"></ion-datetime>
    </div>

    <div class="campo">
  <ion-label position="stacked">Hora de atención</ion-label>
  <ion-select formControlName="hora" interface="popover" placeholder="Selecciona una hora">
    <ion-select-option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</ion-select-option>
  </ion-select>
</div>

    <div class="campo">
  <ion-label position="stacked">Lugar de encuentro</ion-label>
  <ion-radio-group formControlName="lugarEncuentro">
    <ion-item lines="none">
      <ion-radio slot="start" value="domicilio" color="success"></ion-radio>
      <ion-label>Domicilio</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-radio slot="start" value="sucursal" color="success"></ion-radio>
      <ion-label>Sucursal</ion-label>
    </ion-item>
  </ion-radio-group>
</div>


  <ion-button
      class="registro-btn"
      expand="block"
      type="submit"
      [disabled]="agendarForm.invalid">
      Reservar
    </ion-button>
  </form>


</ion-content>