<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="inicio" [routerLink]="['/tabs/inicio']">
      <img src="assets/img/icono-inicio.png" class="tab-icon-img" />
    </ion-tab-button>

    <div class="separator"></div> <!-- 🔹 Línea -->

    <ion-tab-button tab="agendar" [routerLink]="['/tabs/agendar']">
      <img src="assets/img/icono-agendar.png" class="tab-icon-img" />
    </ion-tab-button>

    <div class="separator"></div> <!-- 🔹 Línea -->

    <ion-tab-button tab="perfil" [routerLink]="['/tabs/perfil']">
      <img src="assets/img/icono-perfil.png" class="tab-icon-img" />
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>