
<!-- Header con Logo -->
<ion-header>
  <ion-toolbar>
    <!-- Botón de volver -->

    <!-- Logo -->
    <img src="assets/img/logo.png" alt="Logo" style="width: 100%; height: 20vw; object-fit: cover;" />
  </ion-toolbar>
</ion-header>

<!-- Login y boton registro-->

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Ingresar</ion-button>
  </form>

<div class="registro-link" (click)="irARegistro()">
  <p style="color: var(--ion-color-primary); text-align: center;">
    ¿No tienes cuenta?
    <strong style="cursor: pointer;">Regístrate</strong>
  </p>
</div>

</ion-content>